[Unit]
Description=Spotify Now Playing Notification

[Service]
ExecStart=%h/scripts/spotify_notif
Restart=always
RestartSec=1

[Install]
WantedBy=default.target

