/* Import pywal colors */
@import url('/home/malissa/.cache/wal/colors-waybar.css');

/* Keyframes */
@keyframes blink-critical {
	to {
		background-color: @color1;
	}
}

* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
	box-shadow: none;
	text-shadow: none;
	icon-shadow: none;
}

/* The whole bar */
#waybar {
	background: rgba(40, 40, 40, 0.8784313725);
	color: @color15;
	font-family: JetBrains Mono, Siji;
	font-size: 10pt;
}

/* Each module */
#group-power,
#group-system,
#group-time,
#tray,
#disk,
#mpris {
	padding-left: 20pt;
	padding-right: 20pt;
}

/* Each critical module */
#mode,
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical.discharging {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-name: blink-critical;
	animation-duration: 1s;
}

/* Each warning */
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning.discharging {
	color: @color3;
}

/* Workspaces stuff */
#workspaces button {
	padding-left: 2pt;
	padding-right: 2pt;
	color: @color15;
	background: @color8;
}

#workspaces button.visible {
	color: @color15;
	background: @color5;
}

#workspaces button.focused {
	color: @color0;
	background: @color6;
}

#workspaces button.urgent {
	color: @color0;
	background: @color3;
}

#workspaces button:hover {
	background: @color0;
	color: @color15;
}

#window {

	background: @color4;
	color: @color15;
}

#pulseaudio {
	background: @color5;
	color: @color0;
}

#mpris {
	background: @color4;
	color: @color0;
}

#memory {
	background: @color2;
	color: @color15;
}

#cpu {
	background: @color2;
	color: @color15;
}

#temperature {
	background: @color10;
	color: @color0;
}

#language {
	background: @color11;
	color: @color0;
}

#battery {
	background: @color6;
	color: @color15;
}

#tray {
	background: @color0;
}

#clock.date {
	background: @color15;
	color: @color0;
	margin-left: -25px;
}

#clock.time {
	background: @color15;
	color: @color0;
}

#custom-power {
	font-size: 12pt;
	padding-right: 5pt;
	padding-left: 5pt;
	color: @color4;
}

#custom-shutdown {
	font-size: 12pt;
	padding-right: 5pt;
	padding-left: 5pt;
	color: @color5;
}

#custom-reboot {
	font-size: 12pt;
	padding-right: 5pt;
	padding-left: 5pt;
	color: @color2;
}

#custom-arrow1 {
	font-size: 11pt;
	color: @color15;
	background: @color0;
}

#custom-arrow2 {
	font-size: 11pt;
	color: @color0;
	background: @color2;
}

#custom-arrow3 {
	font-size: 11pt;
	color: @color10;
	background: @color2;
}

#custom-arrow4 {
	font-size: 11pt;
	color: @color2;
	background: @color5;
}

#custom-arrow5 {
	font-size: 11pt;
	color: @color6;
	background: @color5;
}

#custom-arrow6 {
	font-size: 11pt;
	color: @color5;
	background: @color13;
}

#custom-arrow7 {
	font-size: 11pt;
	color: @color5;
	background: transparent;
}

#custom-arrow10 {
	font-size: 11pt;
	color: @color8;
	background: @color4;
}

#custom-arrow11 {
	font-size: 11pt;
	color: @color4;
	background: transparent;
}

#custom-block {
	font-size: 11pt;
	background: @color8;
}