@import '../../../.cache/wal/colors-waybar.css';

@define-color apps rgba(0, 0, 0, 0.6);
@define-color quicklinks rgba(0, 0, 0, 0.4);
@define-color workspaces rgba(0, 0, 0, 0.6);
@define-color taskbar rgba(0, 0, 0, 0.4);
@define-color clock @foreground;
@define-color tray rgba(0, 0, 0, 0.4);
@define-color timer rgba(0, 0, 0, 0.4);
@define-color devices rgba(0, 0, 0, 0.6);
@define-color system rgba(0, 0, 0, 0.4);
@define-color workspace_fg @foreground;
@define-color act_wrk_fg rgba(0, 0, 0, 1);
@define-color use_wrk_fg @color5;
@define-color workspace_bg rgba(0, 0, 0, 0.6);
@define-color act_wrk_bg @foreground;
@define-color taskbar_bg rgba(255, 255, 255, 0.2);
@define-color updates_green #a3be8c;
@define-color updates_yellow #ff9a3c;
@define-color updates_red #dc2f2f;

* {
    font-family: "Fira Sans SemiBold";
    font-weight: bold;
    font-size: 12px;
    min-height: 16px;
}

window#waybar {
    color: @foreground;
    background: transparent;
}

#clock {
    color: @workspace_fg;
    background: @workspace_bg;
}

#mpris, #custom-media {
    color: @workspace_fg;
    background: @taskbar;
}

#tray {
    background: @tray;
}

#mpris,
#clock,
#tray {
    padding: 0px 10px;
}

#l-clock,
#r-clock,
#l-tray,
#r-tray,
#l-media,
#r-media {
    background: transparent;
    min-height: 0px;
}


#l-tray {
    border-left: 15 solid transparent;
    border-bottom: 30 solid @tray;
    margin-left: 0;
}

#l-media {
    border-left: 15 solid transparent;
    border-bottom: 30 solid @tray;
    margin-left: 0;
}

#l-clock {
    border-left: 15 solid transparent;
    border-bottom: 30 solid @apps;
    margin-left: 0;
}

#r-tray {
    border-left: 15 solid @tray;
    border-bottom: 30 solid transparent;
    margin-right: 0;
}

#r-media {
    border-left: 15 solid @tray;
    border-bottom: 30 solid transparent;
    margin-right: 0;
}

#r-clock {
    border-left: 15 solid @apps;
    border-bottom: 30 solid transparent;
    margin-right: 0;
}
