/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #180e20 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c5c2c7; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c5c2c7; background-color: rgba(205,115,228,0.4)}
.cm-s-nqqwal { background-color: #180e20; color: #c5c2c7; }
.cm-s-nqqwal span.cm-builtin { color: #7953C5; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #675d72; }
.cm-s-nqqwal span.cm-keyword { color: #A24D9F; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #9655A7; }
.cm-s-nqqwal span.cm-def { color: #A666D5; }
.cm-s-nqqwal span.cm-variable { color: #CD73E4; }
.cm-s-nqqwal span.cm-variable-2 { color: #A666D5; }
.cm-s-nqqwal span.cm-string { color: #7953C5; }
.cm-s-nqqwal span.cm-string-2 { color: #7953C5; }
.cm-s-nqqwal span.cm-number { color: #A666D5; }
.cm-s-nqqwal span.cm-tag { color: #A24D9F; }
.cm-s-nqqwal span.cm-property { color: #CD73E4; }
.cm-s-nqqwal span.cm-attribute { color: #CD73E4; }
.cm-s-nqqwal span.cm-qualifier { color: #9655A7; }
.cm-s-nqqwal span.cm-meta { color: #A666D5; }
.cm-s-nqqwal span.cm-header { color: #A24D9F; }
.cm-s-nqqwal span.cm-operator { color: #A24D9F; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(166,102,213,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #A24D9F; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #180e20); }
