@define-color foreground #c5c2c7;
@define-color background #180e20;
@define-color cursor #c5c2c7;

@define-color color0 #180e20;
@define-color color1 #74489C;
@define-color color2 #7953C5;
@define-color color3 #A24D9F;
@define-color color4 #9655A7;
@define-color color5 #A666D5;
@define-color color6 #CD73E4;
@define-color color7 #c5c2c7;
@define-color color8 #675d72;
@define-color color9 #74489C;
@define-color color10 #7953C5;
@define-color color11 #A24D9F;
@define-color color12 #9655A7;
@define-color color13 #A666D5;
@define-color color14 #CD73E4;
@define-color color15 #c5c2c7;
