#![enable(implicit_some)]
(
    border_width: 2,
    margin: [4, 4],
    default_border_color: "#0f1124",
    floating_border_color: "#CBB7F9",
    focused_border_color: "#c3c3c8",
    background_color: "#0f1124",
)